In [7]:
import pandas as pd
import gseapy as gp
import os

In [8]:
signature = pd.read_csv('GSE146409.Immune_Signature.txt',delimiter='\t',index_col=0)
signature

,Other,Kupffer cells,TM1,SAMs,T cells,cDC2,cDC1,B cells
NAME,,,,,,,,
A2M,1460.695217,462.953828,1.000000,1007.660393,1.000000,439.725348,1.000000,1.000000
AARS,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,129.007914
ABCA2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,186.833176
ABHD2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,190.981235,1.000000
ABRACL,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,88.234046,1.000000
...,...,...,...,...,...,...,...,...
ZNF419,293.708091,1.000000,1.000000,1.000000,372.409783,205.638745,1.000000,962.749072
ZNF609,1.000000,1.000000,1.000000,1.000000,1.000000,163.608906,145.462270,228.186691
ZNF706,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,329.441035
ZNHIT1,161.389437,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
ZYX,255.396266,367.233747,655.330341,489.784891,1.000000,370.085906,571.837472,1.000000

In [9]:
cell_types = list(signature.columns.values)
cell_types

['Other', 'Kupffer cells', 'TM1', 'SAMs', 'T cells', 'cDC2', 'cDC1', 'B cells']

In [10]:
library = 'WikiPathway_2021_Human'

In [11]:
try:
    os.mkdir(library)
except:
    pass

for cell_type in cell_types:
    signature_matrix = signature.filter([cell_type])
    signature_matrix = signature_matrix[signature_matrix[cell_type] != 1]
    signature_gene_list = list(signature_matrix.index.values)
    enr = gp.enrichr(gene_list=signature_gene_list, gene_sets=library,
                 organism='Human', description='test_name',
                 outdir='%s/%s'%(library,cell_type),
                 # no_plot=True,
                 cutoff=0.5 # test dataset, use lower value from range(0,1)
                )

In [12]:
signature_matrix

                B cells
NAME
AARS         129.007914
ABCA2        186.833176
AC007192.1   253.307693
AC010132.3   209.323284
AC010422.3   266.927459
...                 ...
ZFP36L2     1031.888734
ZNF302       194.218072
ZNF419       962.749072
ZNF609       228.186691
ZNF706       329.441035

[455 rows x 1 columns]